
<h1>Change Password</h1>

{% if change_password_error %}<p><strong>{{ change_password_error }}</strong></p>{% endif %}

<form action="{% url news.views.login.change_password %}" method="post">
	<label for="password1">new password:</label>
	<input name="password1" size="20" maxlength="{{ settings.NEWS_MAX_PASSWORD_LENGTH }}" 
		type="password" />
	<label for="password2">retype new password:</label>
	<input name="password2" size="20" maxlength="{{ settings.NEWS_MAX_PASSWORD_LENGTH }}" 
		type="password" />
	<input type="submit" value="submit" />
</form>
